@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 900;
  src: url(../css/helvthin.otf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

#mainBody {
  background-image: url(../img/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica",
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#logoContainer {
  text-align: center;
}

#kbContainer {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#kbLayout {
  background-color: rgba(0, 0, 0, 0.97);
  border: 1px solid grey;
  border-radius: 20px;
  padding: 10px;
  display: grid;
}

#kbLayoutInner {
  display: grid;
}

.rowOne,
.rowTwo,
.rowThree,
.rowFour,
.rowFive,
.rowSix {
  display: flex;
  max-width: 100%;
}

.mouseContainer {
  margin: auto;
}

.mouseTop {
  display: flex;
  flex-direction: row;
}

.mouseBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#testingContainer {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
  justify-content: center;
  min-width: 640px;
  padding-top: 10px;
  grid-column: 1 / 3;
}

#testBtns > button {
  width: 160px;
  background-color: transparent;
  border: none;
  box-shadow: 0 0 4px 1px #60279e;
  border-radius: 25px;
  padding: 5px;
}

#testBtns > button:active {
  transform: scale(0.9);
}

#testBtns > button > span {
  color: #ddd;
  font-size: 18px;
  font-weight: bold;
}
#testBtns > button:hover > span {
  color: limegreen;
}

#testBtns #startRecording:hover > span {
  color: limegreen;
}

#testBtns #stopRecording:hover > span {
  color: red;
}

#recordingStatus {
  color: limegreen;
  font-size: 20px;
  font-weight: bold;
}

#video {
  width: 640px;
  height: 480px;
}

#testingContainer > button {
  width: 115px;
}

.key.Mouse0 {
  border-radius: 55px 0 0 0;
  height: 70px;
  width: 96px;
}

.key.Mouse1 {
  border-radius: 10px;
  height: 50px;
  width: 24px;
}

.key.Mouse2 {
  border-radius: 0 55px 0 0;
  height: 70px;
  width: 96px;
}

.key.scrollUp,
.key.scrollDown {
  border-radius: 0 0 0 0;
  height: 20px;
  width: 96px;
}

.key {
  font-size: 18px;
  height: 52px;
  width: 50px;
  margin: 5px 2px;
}

.keyFunc {
  font-size: 15px;
  height: 35px;
  width: 47px;
  margin: 5px 1px;
}

.key,
.keyFunc {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #60279e;
  border-radius: 8px;
  border: 1px solid #60279e;
  border-bottom: 2px solid #60279e;
  text-align: center;
}

.key.active,
.keyFunc.active {
  background-color: #00ced1;
  border-color: #00e1ef;
  color: #000;
}

.key > span {
  margin: 0 auto 0;
}

.Backspace {
  width: 150px;
}

.Backslash {
  width: 130px;
}

.rowTwo .key192 span {
  font-size: 40px;
}

.CapsLock {
  width: 105px;
}

.Enter {
  width: 150px;
}

.ShiftLeft {
  width: 132px;
}

.ShiftRight {
  width: 180px;
  margin-right: 20px;
}

.ControlRight,
.ControlLeft {
  width: 95px;
}

.Tab,
.MetaLeft,
.MetaRight,
.AltLeft,
.AltRight {
  width: 70px;
}

.Space {
  width: 325px;
}

.Backspace {
  margin-right: 130px;
}

.Enter,
.Backslash {
  margin-right: auto;
}

.ArrowUp {
  margin-right: 55px;
}

.Numpad0 {
  width: 104px;
}

.rowOne .keyFunc {
  min-width: 51.6px;
}

.rowOne .Home {
  margin-right: 20px;
}

.NumLock {
  font-size: 15px;
}

/* 
**  Basic theme
*/
.basicTheme #kbLayout {
  background-color: rgb(190 190 190);
  border-color: #000;
}

.basicTheme .key,
.basicTheme .keyFunc {
  border-color: #000;
  color: #000;
}

.basicTheme .key span,
.basicTheme .keyFunc span,
.basicTheme .key span {
  font-weight: bold;
}

.basicTheme .key.active,
.basicTheme .keyFunc.active {
  background-color: limegreen;
  border-color: #000;
  box-shadow: none;
}

.basicTheme #testBtns > button {
  width: 160px;
  background-color: #4c4c4c;
  border: 1px solid #000;
  box-shadow: none;
  border-radius: 5px;
  padding: 5px;
}

/* test */
#alertContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#alert {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #222;
  color: #ddd;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid grey;
  text-align: center;
  transform: translate(-50%, -50%);
  min-width: 500px;
}

#alertTitle {
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: bold;
  color: #ff6060;
}

#alertBtn {
  background-color: #60279e;
  color: limegreen;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  margin-top: 16px;
  border-radius: 5px;
  font-size: 18px;
}

#alertBtn:active {
  transform: scale(0.95);
}

#alertText {
  display: block;
  margin-bottom: 20px;
}

/* battery */
/* style.css */

#battery-info {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.batterybx {
  font-family: Arial, sans-serif;
}

.batterybx .titlebtry {
  font-weight: bold;
}
