@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 900;
  src: url(../css/helvthin.otf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

* {
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by most browsers */
}

#mainBody {
  background-image: url(../img/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica",
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#NavContainer {
  text-align: center;
  /* background: linear-gradient(to left, black, #60279e); */
  background-color: #000000bb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.navBtn {
  background-color: #00000000;
  border: none;
  color: white;
  font-size: 28px;
  transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg)
    scale(0.9, 0.9);
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out transform;
}

.navBtn:hover {
  transform: translate3d(0px, 0px, -250px);
}

#logoImage {
  width: 200px;
  margin-right: 200px;
}

#kbContainer {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#kbLayout {
  position: relative;
  background-color: rgba(0, 0, 0, 0.97);
  border: 1px solid grey;
  border-radius: 20px;
  padding: 10px;
  display: grid;
}

#kbLayoutInner {
  grid-template-rows: repeat(10, auto);
  display: grid;
  position: relative; /* for batery indicator */
}

.rowOne,
.rowTwo,
.rowThree,
.rowFour,
.rowFive,
.rowSix {
  display: flex;
  max-width: 100%;
}

.mouseTop {
  display: flex;
  flex-direction: row;
}

.mouseBtn {
  display: flex;
  flex-direction: row;
  gap: 28px;
}

#testingContainer {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
  justify-content: center;
  min-width: 640px;
  padding-top: 10px;
}

#testBtns > button {
  width: 160px;
  background-color: transparent;
  border: none;
  box-shadow: 0 0 4px 1px #60279e;
  border-radius: 25px;
  padding: 5px;
}

#testBtns > button:active {
  transform: scale(0.9);
}

#testBtns > button > span {
  color: #ddd;
  font-size: 18px;
  font-weight: bold;
}
#testBtns > button:hover > span {
  color: limegreen;
}

#testBtns #startRecording:hover > span {
  color: limegreen;
}

#testBtns #stopRecording:hover > span {
  color: red;
}

#recordingStatus {
  color: limegreen;
  font-size: 20px;
  font-weight: bold;
}

#video {
  width: 640px;
  height: 480px;
}

#testingContainer > button {
  width: 115px;
}

.key.Mouse0 {
  border-radius: 55px 0 0 0;
  height: 70px;
  width: 96px;
}

.key.Mouse1 {
  border-radius: 10px;
  height: 50px;
  width: 24px;
}

.key.Mouse2 {
  border-radius: 0 55px 0 0;
  height: 70px;
  width: 96px;
}

.key.scrollUp,
.key.scrollDown {
  border-radius: 0 0 0 0;
  height: 20px;
  width: 96px;
}

.key {
  font-size: 18px;
  height: 52px;
  width: 50px;
  margin: 5px 2px;
}

.keyFunc {
  font-size: 15px;
  height: 35px;
  width: 47px;
  margin: 5px 1px;
}

.key,
.keyFunc {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #60279e;
  border-radius: 8px;
  border: 1px solid #60279e;
  border-bottom: 2px solid #60279e;
  text-align: center;
}

.key.active,
.keyFunc.active {
  background-color: #00ced1;
  border-color: #00e1ef;
  color: #000;
}

.key > span {
  margin: 0 auto 0;
}

.Backspace {
  width: 150px;
}

.Backslash {
  width: 130px;
}

.rowTwo .key192 span {
  font-size: 40px;
}

.CapsLock {
  width: 105px;
}

.Enter {
  width: 150px;
}

.ShiftLeft {
  width: 132px;
}

.ShiftRight {
  width: 180px;
  margin-right: 20px;
}

.ControlRight,
.ControlLeft {
  width: 95px;
}

.Tab,
.MetaLeft,
.MetaRight,
.AltLeft,
.AltRight {
  width: 70px;
}

.Space {
  width: 325px;
}

.Backspace {
  margin-right: 130px;
}

.Enter,
.Backslash {
  margin-right: auto;
}

.ArrowUp {
  margin-right: 55px;
}

.Numpad0 {
  width: 104px;
}

.rowOne .keyFunc {
  min-width: 51.6px;
}

.rowOne .Home {
  margin-right: 20px;
}

.NumLock {
  font-size: 15px;
}

/* test */
#alertContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#alert {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #222;
  color: #ddd;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid grey;
  text-align: center;
  transform: translate(-50%, -50%);
  min-width: 500px;
}

#alertTitle {
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: bold;
  color: #ff6060;
}

#alertBtn {
  background-color: #60279e;
  color: limegreen;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  margin-top: 16px;
  border-radius: 5px;
  font-size: 18px;
}

#alertBtn:active {
  transform: scale(0.95);
}

#alertText {
  display: block;
  margin-bottom: 20px;
}

/* battery */

#battery-info {
  position: absolute;
  bottom: -40px;
  right: 5px;
  background-color: #000000;
  padding: 10px;
  box-shadow: 0 0 4px 1px #60279e;
  border: 1px solid #60279e;
  color: #ffffff;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  width: 260px;
  height: 150px;
  white-space: normal;
}

.batterybx {
  font-family: Arial, sans-serif;
}

.batterybx .titlebtry {
  font-weight: bold;
}

.underKeys {
  display: flex;
  justify-content: center;
}

.videoWrapper {
  grid-row: 8;
  display: block;
  position: absolute;
  left: 5px;
  border: none;
}

.underkeys video {
  border-radius: 20px;
}

.batteryIcon {
  padding-left: 70px;
}

.key.secondary-highlight {
  background-color: #ff9800;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 152, 0, 0.7);
}

/* video */

/* index.html specific styles */

.index .videoWrapper video {
  width: 230px; /* Adjust the video width */
  height: 153px; /* Maintain aspect ratio */
  border-radius: 10px;
}

.index .videoWrapper {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}

/*arrows*/

.index .arrowContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 100%;
  margin-top: 5px;
}

.index .ArrowUp,
.index .ArrowDown,
.index .ArrowLeft,
.index .ArrowRight {
  font-size: 18px;
  margin: 5px;
  height: 40%;
}

.index .ArrowLeft,
.index .ArrowRight {
  margin-top: 32.5px;
}

.index .ArrowUp,
.index .ArrowDown {
  margin: 0; /* Reset margin */
}

.index .ArrowLeft {
  margin-left: 20px;
}
/* end arrows */

/* keys */
/* Row One */
.index .key.Backquote {
  font-size: 30px;
  padding-top: 10px;
}

.index .rowOne .key {
  width: 94.5px;
}

.index .key.keyFunc.F10 {
  margin-right: 0px;
}

/* Row Two */
.index .rowTwo .key {
  width: 70px;
}

.index .rowTwo .key.Backspace {
  width: 96px;
  margin-right: 0px;
}

/* Row Three */
.index .rowThree .key {
  width: 70px;
}

.index .rowThree .key.Backslash {
  margin-right: 0px;
}

.index .rowThree .key.Tab {
  width: 96px;
}

/* Row Four */
.index .rowFour .key {
  width: 70px;
}

.index .rowFour .key.MetaLeft {
  width: 120px;
}

.index .rowFour .key.Enter {
  width: 120px;
}

/* Row Five */
.index .rowFive .key {
  width: 70px;
}

.index .rowFive .key.ShiftLeft,
.index .rowFive .key.ShiftRight {
  width: 157px;
}

/* Row Six */
.index .rowSix .key.ControlLeft,
.index .rowSix .key.AltLeft {
  width: 157.5px;
}

.index .rowSix .key.ControlRight,
.index .rowSix .key.AltRight {
  width: 110px;
}

.index .rowFive .key.ShiftRight,
.index .rowFour .key.Enter {
  margin-right: 0px;
}

/*index.html underkeys*/

.index #battery-info {
  right: 6px;
  padding: 10px;
  width: 260px;
  height: 150px;
}
